@import "mixins";
@import "variables";

header {
  background-color: $background-header;
}

.Container__Header {
  max-width: 1440px;
  padding: 16px 24px;
  margin: 0 auto;

  @include flex-center;
  justify-content: space-between;
  border-bottom: 1px solid #29292e;

  img {
    max-width: 13.125rem;
  }

  div {
    display: flex;
    gap: $spacing-lg;
  }
}
