$fonts: "Inter", sans-serif;

$neutral-color: #ffffff;
$background-dashboard: #292738;
$background-header: #1d1b28;
$brand-1: #4a4556;
$brand-2: #d9d9d9;
$brand-3: #81fbb8;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
